# Ignore everything in the repository root by default
*

# Keep the gitignore itself
!.gitignore

# Keep these notebooks
!image_processing.ipynb
!serial_extractor.ipynb

# Keep Python dependencies file
!requirements.txt

# Keep README
!README.md

# Keep Python notebooks
# !image_process.ipynb
# !image_process_1.ipynb
# !image_process_2.ipynb
# !image_process_5.ipynb
!image_process_6.ipynb
