# Ignore everything in the repository root by default
*

# Keep the gitignore itself
!.gitignore

# Keep these notebooks
!image_processing.ipynb
!serial_extractor.ipynb

# Keep Python dependencies file
!requirements.txt

# Keep README
!README.md

# Keep Python notebooks
!image_process.ipynb